.container {
  position: absolute;
  top: 25px;
  left: 25px;
  text-align: left;
}

.container h2 {
  font-size: 4rem;
}

.container a {
  position: relative;
  top: 25px;
  left: 25px;
  font-size: 1.4rem;
}
